apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-hgkvcgcx
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-hgkvcgcx:4c9f43f8ed1997dcf6c5ae99b653ddd782bda2d7@sha256:45f92499894c3e648a721a73300c9e6c1dc814db04add363814ec48d295cd113
          name: container-image
